/* Selectors - Element Selector */
h1 {
    color: mediumvioletred;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(219,112,147);
}

h3 {
    color: rgb(202, 116, 129);
}

h4 {
    color: rgba(202, 116, 129, 1.0);
}

p {
    color: #F4A;
}

blockquote {
    color: #771021;
}

li {
    color:hsla(327, 100%, 63%, 1.0);
}

caption {
    color: mediumvioletred;
}

th {
    color: #F4A;
}

td {
    color: #9C225D;
}

picture {
    display: inline-block;
}

/* Selectors - Class Selector */

.pink-text-color {
    color: #F4A;
}

.medium-pink-text-color {
    color: mediumvioletred;
}

.dark-pink-text-color {
    color: #9C225D;
}

.link:hover {
    color: gray;
}

.link:active {
    color: burlywood;
}

/* Selectors - ID Selector */

#anoushka-image {
    border-style: dotted;
    border-color: rgb(128, 39, 88);
    border-width: 0.2em;
    border-radius: 1;
}

#ucsd-map {
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1;
}

#ucsd-cse {
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1;
}