/* Selectors - Element Selector */
h1 {
    color: mediumvioletred;
    text-align: center;
    text-decoration: underline;
    margin: auto;
}

h2 {
    color: rgb(219,112,147);
}

h3 {
    color: rgb(202, 116, 129);
}

h4 {
    color: rgba(202, 116, 129, 1.0);
}

p {
    color: #F4A;
}

blockquote {
    color: #771021;
}

li {
    color:hsla(327, 100%, 63%, 1.0);
}

caption {
    color: mediumvioletred;
}

th {
    color: #F4A;
}

td {
    color: #9C225D;
}

picture {
    display: inline-block;
}

label {
    padding-left: 0.5em;
    padding-right: 0.1em;
}

/* Selectors - Class Selector */

.pink-text {
    color: #F4A;
    font-size: 16px;
}

.medium-pink-text {
    color: mediumvioletred;
    font-size: 0.75pc;
}

.dark-pink-text {
    color: #9C225D;
    font-size: 16pt;
}

.grid {
    display: grid;
    grid-template-columns: 10em 10em;
    grid-template-rows: auto auto auto auto;
    padding-left: 2em;
}

.cell {
    color: mediumvioletred;
    text-align: center;
    border-style: solid;
    border-color: #9C225D;
    border-width: 0.1rem;
    border-radius: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.image-pad {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

/* Selectors - ID Selector */

#anoushka-image {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 51em;
    margin-right: 25em;
    border-style: dotted;
    border-color: rgb(128, 39, 88);
    border-width: 1vh;
    border-radius: 1;
}

#ucsd-map {
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1;
}

#ucsd-cse {
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1;
}

#press-me {
    margin: 2em 2em 2em 2em;
}

#puppy-video {
    height: 15em;
    width: 26em;
}

/* Selectors - Universal Selector */

/* Selectors - Attribute Selector */

/* Selectors - Pseudo-class Selector */

.link:hover {
    color: gray;
}

.link:active {
    color: burlywood;
}

/* Selectors - Grouping/Combinators Selector */